*{
    margin:0px;
    padding:0px;
}
a{
    text-decoration: none;
}
.header-container{
    background-color:#49a6e9;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}
.header-container .navbar {
    display: flex;
    justify-content: space-between;
    padding:20px 100px;
}
/*  ---------- header logo ---------- */
.header-container .navbar img{
    height: 30px
}
.logo, .logo:hover{
    color:#fff;
}
/*  ---------- header menu ---------- */
.header-container .navbar .nav a{
    color: #fff;
    margin-left: 30px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.header-container .navbar .nav a:hover{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
/*  ---------- header salary ---------- */
.header-container .header-Salary{
    background-color:#2d87c8;
    color:#fff;
    padding: 20px;
}